body {
    height: calc(100vh - 1rem);
    background-image: url('../images/background/mindfulmatches-bg.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.table {
    padding-top: 5rem;
    max-width: 90%;
    margin: 0 auto;
    img {
        width: 100%;
    }
}